@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;900&&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1400px;
  height: 100vh;
}

.content .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 0;
}

.content .imageWrapper img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  opacity: 1;
  z-index: 1;
}

.content .imageWrapper img:hover {
  opacity: 0.75;
}

.content .imageWrapper h2 {
  position: absolute;
  text-align: center;
  font-family: 'Popins';
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.content .imageWrapper h2:hover {
  color: rgba(255, 255, 255, 1);
}
